In [1]:
def say_hello():
    print("Hello!")

In [2]:
say_hello()

Hello!

In [3]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [4]:
say_something("love my baby")

love my baby

In [5]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [6]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [7]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [8]:
# Using the format() function.
my_grades1 = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades1:
    print("{:.0f}".format(grade))

92
85
87
98

In [9]:
# Convert the numerical grades to a Series.
my_grades2 = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades2

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [10]:
my_grades2.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

In [2]:
class Cat:
    def __init__(self, name):
        self.name = name

In [4]:
first_cat = Cat('Felix')
print(first_cat.name)

Felix

In [6]:
second_cat = Cat('Garfield')
print(second_cat.name)

Garfield

In [7]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound

    def bark(self):
        return self.sound + ' ' + self.sound

In [10]:
first_dog = Dog('Lady','Blond','arf!')
print(first_dog)

<__main__.Dog object at 0x000002617B6EE790>